@page "/artist/{ArtistId:long}"
@attribute [Authorize]

@using Chinook.Models
@using Chinook.ClientModels
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims;
@using Chinook.IServices;

@if (!string.IsNullOrWhiteSpace(infoMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @infoMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
        </div>
    </div>
}

@if (artist == null)
{
    <Loading />
}
else
{
    <h1>@artist.Name</h1>
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Album title</th>
                <th>Track name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in tracks)
            {
                <tr>
                    <td>@track.AlbumTitle</td>
                    <td>@track.TrackName</td>
                    <td>
                        @if (track.IsFavorite)
                        {
                            <a href="#" class="m-1" title="Unmark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-fill"></i></a>
                            //-----------------  bi-star-filled icon not working -------------------
                        }
                        else
                        {
                            <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star"></i></a>
                        }
                        <a href="#" class="m-1" title="Add to playlist" @onclick="@(() => OpenPlaylistDialog(track.TrackId))" @onclick:preventDefault><i class="bi bi-file-earmark-plus"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<Modal @ref="playlistDialog">
    <Title>Add to playlist</Title>
    <Body>
        @if (selectedTrack != null)
        {
            <div class="form-group mb-2">
                <label>@artist.Name - @selectedTrack.AlbumTitle - @selectedTrack.TrackName</label>
            </div>
        }

        <div class="mb-2">
            <label for="ExistingPlaylist">Add to existing playlist</label>
            @*---- Using @bind attribute to track select value instead of onchange---------*@
            <select class="form-control" id="ExistingPlaylist" @bind="selectedPlaylistId">
                @* Empty option to be displayed till a valid selection is done *@
                @if (selectedPlaylistId == -1)
                {
                    <option value="-1"></option>
                }
                @foreach (var playlist in selectedPlaylists)
                {
                    <option value="@playlist.PlaylistId">@playlist.Name</option>
                }
            </select>
        </div>
        <div class="mb-2">
            <label for="NewPlaylist">Create new playlist</label>
            <!-- ------ Binding the text field to PlayListName ----------- -->
            <input type="text" id="NewPlaylist" @bind:event="oninput" class="form-control" @bind="playlistName" placeholder="Name for the new playlist">
        </div>
    </Body>
    <Footer>
        @if (disableByDropDown && disableByText)
        {
            <button class="btn btn-success" @onclick="AddTrackToPlaylist" disabled>Save</button>
        }
        else
        {
            <button class="btn btn-success" @onclick="AddTrackToPlaylist">Save</button>
        }

    </Footer>
</Modal>

@code {
    [Parameter] public long ArtistId { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    //Injecting the services to Razor page
    [Inject] IArtistService artistService { get; set; }
    [Inject] ITrackService trackService { get; set; }
    [Inject] IPlaylistService playlistService { get; set; }
    [Inject] IRefreshNavService refreshNavService { get; set; }
    private Modal playlistDialog { get; set; }

    private ArtistCM artist;
    private List<PlaylistTrackCM> tracks;
    private PlaylistTrackCM selectedTrack;
    private List<PlaylistCM> selectedPlaylists;
    private string infoMessage;
    private string currentUserId;

    private bool disableByText, disableByDropDown;
    private long _selecedPlaylistId;
    public long selectedPlaylistId
    {
        get { return _selecedPlaylistId; }
        set
        {
            _selecedPlaylistId = value;
            disableByDropDown = _selecedPlaylistId < 0 ? true : false;
        }
    }
    private string _playlistName;
    private string playlistName
    {
        get { return _playlistName; }
        set
        {
            _playlistName = value;
            disableByText = _playlistName?.Length < 1 ? true : false;
        }

    }

    protected override async Task OnInitializedAsync()
    {
        selectedPlaylistId = -1;
        disableByDropDown = true;
        disableByText = true;
        await InvokeAsync(StateHasChanged);
        currentUserId = await GetUserId();
        //----------- Load values from the backend --------------
        artist = await artistService.GetArtistById(ArtistId);
        tracks = await trackService.GetPlaylistTracks(ArtistId, currentUserId);
        selectedPlaylists = await playlistService.GetPlaylistsOfUser(currentUserId);
    }

    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }

    /// <summary>
    /// Add to my favourite playlist
    /// </summary>
    /// <param name="trackId"></param>
    private async void FavoriteTrack(long trackId)
    {
        var track = tracks.FirstOrDefault(t => t.TrackId == trackId);
        // ----- Add to favourite list and reload tracks -------
        var message = await trackService.AddToMyFavourite(trackId, currentUserId);
        tracks = await trackService.GetPlaylistTracks(ArtistId, currentUserId);
        infoMessage = $"Track {track?.ArtistName} - {track?.AlbumTitle} - {track?.TrackName} {message}";
        //Triger call back event to update nav menu
        refreshNavService.CallRequestRefresh();
    }
    /// <summary>
    /// Remove from my favourite playlist
    /// </summary>
    /// <param name="trackId"></param>
    private async void UnfavoriteTrack(long trackId)
    {
        var track = tracks.FirstOrDefault(t => t.TrackId == trackId);
        // ----- Remove from favourite list and reload tracks -------
        var message = await trackService.RemoveFromMyFavourite(trackId, currentUserId);
        tracks = await trackService.GetPlaylistTracks(ArtistId, currentUserId);
        infoMessage = $"Track {track?.ArtistName} - {track?.AlbumTitle} - {track?.TrackName} {message}";
    }

    private void OpenPlaylistDialog(long trackId)
    {
        CloseInfoMessage();
        if (tracks.Any())
        {
            selectedTrack = tracks.First(t => t.TrackId == trackId);
        }
        selectedPlaylistId = -1;
        playlistName = string.Empty;
        playlistDialog.Open();
    }

    /// <summary>
    /// Add selected track to existing or new playlist
    /// </summary>
    private async void AddTrackToPlaylist()
    {
        CloseInfoMessage();
        // ----- Add tracks to playlist and reload the selected playlists -------
        var message = await playlistService.AddTrackToPlayList(selectedTrack.TrackId, selectedPlaylistId, playlistName, currentUserId);
        infoMessage = $"Track {artist.Name} - {selectedTrack.AlbumTitle} - {selectedTrack.TrackName} {message}.";
        selectedPlaylists = await playlistService.GetPlaylistsOfUser(currentUserId);
        playlistName = string.Empty;
        playlistDialog.Close();
        selectedPlaylistId = -1;
        //Triger call back event to update nav menu
        refreshNavService.CallRequestRefresh();
    }


    private void CloseInfoMessage()
    {
        infoMessage = "";
    }
}
