@page "/playlist/{PlaylistId:long}"
@attribute [Authorize]
@inject NavigationManager NavigationManager

@using Chinook.ClientModels
@using Chinook.Models
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims;
@using Chinook.IServices
@using Chinook.Statics

<div>
    <h1>Playlist <strong>@playlist.Name</strong> <a href="#" style="float:right" class="m-1" title="Remove playlist" @onclick="@(() => DeletePlayList())" @onclick:preventDefault><i class="bi bi-trash"></i></a></h1>
</div>

@if (!string.IsNullOrWhiteSpace(infoMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @infoMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
        </div>
    </div>
}

@if (playlist == null)
{
    <Loading />
}
else
{
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Track</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in playlist.Tracks)
            {
                <tr>
                    <td>@track.ArtistName - @track.AlbumTitle - @track.TrackName</td>
                    <td>
                        <div class="d-flex">
                            <!-- ----- Using the constant defined to track the playlist name. Readme gives one name but code had one name. ------- -->
                            @if (playlist.Name != Constants.FavouritePlayListName)
                            {
                                @if (track.IsFavorite)
                                {
                                    <a href="#" class="m-1" title="Unark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-fill"></i></a>
                                }
                                else
                                {
                                    <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star"></i></a>
                                }

                            }
                            <a href="#" class="m-1" title="Remove from this playlist" @onclick="@(() => RemoveTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public long PlaylistId { get; set; }

    //-----  Injecting the services ----------------------
    [Inject] ITrackService trackService { get; set; }
    [Inject] IPlaylistService playlistService { get; set; }
    [Inject] IRefreshNavService refreshNavService { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    private PlaylistCM playlist;
    private string currentUserId;
    private string infoMessage;


    //----- This was teseted by using the direct url with a playlist number -----
    //----------- https://localhost:7295/playlist/20 ---------------
    // Please note did not handle for instances of using playlist number not available in db
    protected override async Task OnInitializedAsync()
    {
        currentUserId = await GetUserId();
        await InvokeAsync(StateHasChanged);
        //------- Loading play list -----------------------------
        playlist = await playlistService.GetPlaylist(PlaylistId, currentUserId);
    }
    protected override async Task OnParametersSetAsync()
    {
        //----------- Load values from the backend --------------
        playlist = await playlistService.GetPlaylist(PlaylistId, currentUserId);
        CloseInfoMessage();
    }
    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }
    /// <summary>
    /// Add to my favourite playlist
    /// </summary>
    /// <param name="trackId"></param>
    private async void FavoriteTrack(long trackId)
    {
        var track = playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);

        // TODO: add track to Favorites playlist
        // ------ Reusing the services written -----------------
        var message = await trackService.AddToMyFavourite(trackId, currentUserId);        
        playlist = await playlistService.GetPlaylist(PlaylistId, currentUserId);
        infoMessage = $"Track {track?.ArtistName} - {track?.AlbumTitle} - {track?.TrackName} {message}";
        //Triger call back event to update nav menu
        refreshNavService.CallRequestRefresh();
    }
    /// <summary>
    /// Remove from my favourite playlist
    /// </summary>
    /// <param name="trackId"></param>
    private async void UnfavoriteTrack(long trackId)
    {
        var track = playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);

        // TODO: remove track from Favorites playlist
        // ------ Reusing the services written -----------------
        var message = await trackService.RemoveFromMyFavourite(trackId, currentUserId);
        playlist = await playlistService.GetPlaylist(PlaylistId, currentUserId);
        infoMessage = $"Track {track?.ArtistName} - {track?.AlbumTitle} - {track?.TrackName} {message}";
    }
    /// <summary>
    /// Remove the track from the viewed playlist
    /// </summary>
    /// <param name="trackId"></param>
    private async void RemoveTrack(long trackId)
    {
        // TODO
        // --------- Remove the track from playlist and reload the playlist --------
        var track = playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);
        var message = await playlistService.RemoveTrack(PlaylistId, trackId);
        playlist = await playlistService.GetPlaylist(PlaylistId, currentUserId);
        infoMessage = $"Track {track?.ArtistName} - {track?.AlbumTitle} - {track?.TrackName} of playlist {playlist.Name} {message}";
    }

    private void CloseInfoMessage()
    {
        infoMessage = "";
    }

    /// <summary>
    /// Delete playlist
    /// </summary>
    private async void DeletePlayList()
    {
        await playlistService.DeletePlayList(PlaylistId);
        //Triger call back event to update nav menu
        refreshNavService.CallRequestRefresh();
        NavigationManager.NavigateTo("/");
    }

}
